*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
background-image: url('spaceOp2.jpg');
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
margin: 0;
color:white;
overflow: auto;
}
h1{
font-family: 'Raleway',sans-serif;
font-size: 1.5em;
font-weight: 700;
text-align: center;
}
p{
text-align: left;
font-size: 1.2em;
max-width: 480px;
color:white;
font-family: 'Baskerville',serif;
}
hr{border: 0.2px groove #fff;width: 20%;}
img{
width: 150px;
max-width: 150px;
border-radius: 50%;
border: 3px solid #000;
position: center;
cursor: pointer;
animation-name: MoveImg;
animation-duration: 0.5s;
}
.pass{display: none;}
#password{display: none;}
form{
width: 50%;
max-width: 650px;
margin: 60px auto;
background-color: rgba(0,0,0,0.4);
padding: 60px 120px 80px 120px;
text-align: center;
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label{display: block;position: relative;margin: 60px 0px;}
input{
width: 100%;
padding: 10px;
background: transparent;
border: none;
color: white;
outline: none;
}
.line-box{
position: relative;
width: 100%;
height: 2px;
background:linear-gradient(45deg, #d104c0 36%,#0045b5 100%);
}
.line{
position: absolute;
width: 0%;
height: 2px;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: #8bc34a;
}
input:focus + .line-box .line{width: 100%;}
.lb-txt{
position: absolute;
top: -1.6em;
padding:10px;
font-family: 'Raleway';
font-size: .8em;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
color: rgb(120,120,120);
transition: ease .3s;
}
.label-active{top: -3em;}
button{
background-color: rgba(0,0,0,0.4);
color: white;
max-width: 150px;
border: 2px solid #4caf50;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
margin-top:8%;
cursor: pointer;
border-radius: 4px;
transition: 0.5s;
-webkit-transition-duration: 0.5s;
}
button:hover{background-color: white;color: black;}
